[mysqld]
mysql_native_password=ON
character-set-server=utf8mb4
collation-server=utf8mb4_bin
init_connect='SET NAMES utf8mb4'
server-id=1
log-bin=mysql-bin
default-time-zone=+08:00
max_allowed_packet=512M
innodb_buffer_pool_size=256M
lower_case_table_names=1

[mysql]
default-character-set=utf8mb4
